{% load static %}

<!DOCTYPE html>

<html lang="fr">
		<head>				
                <meta charset="utf-8" />
                <link rel="stylesheet" href='{% static "css/style.css" %}'>
                <title>{{user.username}}</title>
				<style>
					footer{
						clear:left;
					}
					label,input{
						width:150px;
					}
					label{
						float:left;
						color:#254117;
						
					}
					fieldset{
						width:inherit;
						padding-left:50px;
						padding-top:10px;
						padding-bottom:10px;
						border-radius:10px;
						padding:10px;
					}
					form p{
						margin-top:10px;
					}
					form input[type="submit"]{
						background-color:black;
						color:red;
						font-size:1.5em;
						-moz-border-radius:3px;
						-webkit-border-radius:3px;
						border-radius:5px;
						margin-left:150px;
						margin-top:20px;
					}
					form input[type="submit"]:hover{
						color:white;
					}
h1{
						color:#254117;
						text-decoration:underline;
						font-weight:bold;
						text-transform:uppercase;
					}
					legend{
						color:#254117;
					}
				
					form{
						margin-left:240px;
					}
					section{
						text-align:left;
						margin-top:50px;
					}
					#page{
						text-align:center;
						padding-top:20px;
					}
					body{
						padding-top:20px;
					}
					fieldset{
						border-radius:3px;
					}
					#retour{
						margin-left:430px;
						margin-bottom:100px;						
					}
				</style>
		</head>	
		
		<body>
			<div id="page">			
				
				<h1 id="titre">Ajouter des produits dans votre <em>MARKET</em></h1>
				<section>
					<p><a href="{% url 'login.views.page_perso'%}" id="retour">Retour a votre page perso</a></p>
					
				<form action="." method="post" enctype="multipart/form-data">
					{% if produit_enregistre %}
						<p>Le produit a ete enregistre</p>
					{% endif %}
					<fieldset>
						<legend>Ajouter Produit</legend>						
							{% csrf_token %}
							{{form.as_p}}
						<input type="submit" value="ajouter">
					</fieldset>
				</form>				
				<section>
			</div>
			
		</body>
</html>