{% load static %}

<!DOCTYPE html>

<html lang="fr">
		<head>				
                <meta charset="utf-8" />
                <link rel="stylesheet" href="{% static "css/style.css" %}">
                <title>Connexion</title>
				<style>
					
					#page_connexion{
						width:50%;
						margin:auto;						
						margin-top:50px;
						padding-top:50px;
						padding-bottom:50px;
						padding-left:100px;
					}
					a{
						color:green;
						text-decoration:none;
					}
					fieldset{
						border-radius:5px;
					}
					legend{
						color:red;
						background-color:silver;
					}
					p{
						text-align:center;
					}
					
					label,input{
						width:150px;						
						font-weight:bold;	
						margin-bottom:10px;
						margin-top:10px;
						
					}
					label{
						float:left;
						text-align:right;
						font-size:1.5em;
						color:#254117;
						margin-right:0px;
						clear:left;
						
					}
					input{
					clear:left;
					}
					input[type="text"],input[type="password"]{
						font-size:1em;
						text-align:center;
						border-radius:5px;
					}
					form{
						width:400px;
						margin:auto;
						margin-left:100px;
						margin-top:100px;
					}
					input[type="submit"]{
						width:100px;					
						color:white;
						background-color:#254117;
						height:50px;
						display:block;
						margin-left:253px;
						display:inline-block;
						border-radius:5px;
					}
					input[type="submit"]:hover{
						background-color:black;					
					}
					a{
                       margin-right:50px;
					   text-decoration:underline;
					}					
				</style>
		</head>			
		<body>
			<div id="page_connexion">
					{%if user.is_authenticated%}<p style="color:red;">{{user.username}} connecte. Votre <a href="{% url 'login.views.page_perso'%} " style="color:red;">page</a></p>{% endif %}
					
					<p id="page_acceuil"><a href="{% url "login.views.acceuil" %}">Acceuil</a><a href="{% url "login.views.page_inscription" %}" title="Inscrivez-vous">Creer un compte ?</a></p>
					<form action="{% url "login.views.connexion"%}" method="post">						
						<fieldset>
							<legend>Connectez-vous</legend>							
							{% csrf_token %}
							{{ form.as_p }}
							<input type="submit" value="connexion" name="submit">
						</fieldset>
						<p id="creer_compte_link"></p>
					</form>
					{% if error %}<p>Username ou mot de passe incorrect</p>{% endif %}
			</div>			
		</body>
</html>