{% load static %}
<!DOCTYPE html>
<html lang="fr">
		<head>				
                <meta charset="utf-8" />
                <link rel="stylesheet" href="{% static "css/style.css" %}">
                <title>Page d'accueil</title>				
				<style>
					#rechercher_form{
						text-align:center;
					}
					h2{
						font-size:2.3em;
						text-transform:uppercase;
						width:inherit;
						margin-left:10px;
						margin-top:20px;
						font-weight:bold;
						font-famiy:arial serif;
					}

				</style>
		</head>	
		
		<body>
			<div id="page">
				<header style="background-color:#616D7E;">
					<span id="logo">logo</span>					
					<div ><div>	
{%if user.is_authenticated%}<p style="color:red;">{{user.username}} connecte. Votre <a href="{% url 'login.views.page_perso'%} " style="color:red;">page</a></p>{% endif %}					
						<p id="creer_compte_link"><a href="{% url "login.views.page_inscription" %}" title="Inscrivez-vous">Creer un compte</a>/<a href="{% url "login.views.connexion" %}" title="Connectez-vous">Connnexion</a></p>	
				</header>
				
				<nav>
					<ul>
						<li><a href="{% url "login.views.acceuil" %}">Accueil</a></li>
						<li><a href="{% url "login.views.contacts" %}">Contacts</a></li>
					</ul>
				</nav>
				{% if user.is_authenticated %}
					
				{% endif %}
				<h1 id="derniers_produits_h1">derniers produits</h1>
				
				<section>
				{% if user.is_authenticated%}
					{% for produit in derniers_produits %}					
						<article>					
								
								<img src="{{ MEDIA_URL }}{{ produit.image }}" alt="image">
								<div>
									<h3 class="nom_produit">{{produit.nom}}</h3>						
									<p class="description"><span class="dec">Description</span><br /> {{produit.description}}</p>
									<p class="categorie"><span>Categorie</span> : {{produit.categorie.categorie}}</p>
									<p class="vendeur"><a href="mailto:{{produit.user.email}}" title="envoyer un mail">Vendeur : {{produit.user.username}}</a></p>
									<p class="prix">Prix : {{produit.prix}}</p>
									<p class="voir_produit" style="text-align:right;"><a href="{% url "login.views.voir_produit" produit.id %}">Voir produit</a></p>								
								</div> 
						</article>						
						{% empty %}
						<h2>Pas de produits disponibles</h2>
						{% endfor %}
				{% elif not rechercher_produit %}
						{% for produit in derniers_produits %}					
						<article>					
								
								<img src="{{ MEDIA_URL }}{{ produit.image }}" alt="image">
								<div>
									<h3 class="nom_produit">{{produit.nom}}</h3>						
									<p class="description"><span class="dec">Description</span><br /> {{produit.description}}</p>
									<p class="categorie"><span>Categorie</span> : {{produit.categorie.categorie}}</p>
									<p class="vendeur"><a href="mailto:{{produit.user.email}}" title="envoyer un mail">Vendeur : {{produit.user.username}}</a></p>
									<p class="prix">Prix : {{produit.prix}}</p>
									<p class="voir_produit" style="text-align:right;"><a href="{% url "login.views.voir_produit" produit.id %}">Voir produit</a></p>								
								</div> 
						</article>
						
						{% empty %}
						<h2>Pas de produits disponibles</h2>
						{% endfor %}					
				{% endif %}
				</section>
				<aside>							
							<p></p><img src="{% static "img/tel_mini.jpg" %}" alt="image"></p>
				</aside>
				<br />		
<footer>
					<p id="copyright">Copyright 2015</p>
					<div>
						<h4>Contacts</h4>
							<p>senburbens@gmail.com / senburbens@yahoo.com / senburbens@outlook.com</p>
							<p>Adresse : Fontamara 47</p>
							<p>Tel : (509) 38295049</p>
					</div>
					<p id="termes"><a href="{% url "login.views.termes" %}">termes et conditions</a></p>
			</footer>				
			</div>			
			
		</body>
</html>