{% load static %}

<!DOCTYPE html>

<html lang="fr">
		<head>				
                <meta charset="utf-8" />
                <link rel="stylesheet" href='{% static "css/style.css" %}'>
                <title>Page Modele</title>
				<style>
				html,body,#page{
					height:100%;
				}
				body{
					background-color:white;
				}
				#page{
					width:50%;
					margin:auto;
					margin-top:0px;
				}
				fieldset{
					padding:5px;
				}
					h1{
						color:red;
						font-weight:bold;
						text-transform:uppercase;
						font-size:2em;
						width:50%;
						margin:auto;
						text-align:center;
						-webkit-animation: myfirst 5s infinite; /* Chrome, Safari, Opera */
						animation: myfirst 5s infinite;
						margin-bottom:20px;
					}
					
					/*animation*/
												/* Chrome, Safari, Opera */
						@-webkit-keyframes myfirst {
							0%   {color:red;}
							25%  {color:silver;}
							50%  {color:black;}
							100% {color:maroon;}
						}

						/* Standard syntax */
						@keyframes myfirst {
							0%   {color:red;}
							25%  {color:silver;}
							50%  {color:black;}
							100% {color:maroon;}
						}
						legend{
							border:1px solid silver;
							color:blue;
							border-radius:5px;
							background-color:silver;
						}
						h2{
							font-size:1em;
							font-style:italic;
							color:silver;
							text-decoration:underline;
							text-align:center;
						}
						form{
							margin-top:30px;
							
						}
						form fieldset{
							margin:auto;
							width:70%;
							border-radius:10px;
							-moz-border-radius:10px;
						
						}
						form label, form input{
							display:inline-block;
							
							width:200px;
						}
						form label{
							margin-top:30px;
							text-align:right;
						}
						input[type="submit"]{
							margin-left:300px;
							color:white;
							background-color:#254117;
							margin-top:50px;
							height:60px;
							font-size:1em;
							width:100px;
							border-radius:10px;
							-moz-border-radius:10px;
						}
						input[type="submit"]:hover{
							color:white;
							background-color:black;
							box-shadow:1px 1px 1px silver; 
							border-radius:10px;
							-moz-border-radius:10px;
						}
						label{
							color:#254117;
							font-weight:bold;
							font-size:1em;							
						}
						input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus{
							background-color:rgba(0,255,0,0.1);
						}
						p#page_acceuil{
							text-align:right;
							position:relative;
							font-size:1.5em;
							right:50px;							
							font-weight:bold;
						}
						p#page_acceuil>a{
							color:green;
						font-size:0.5em;
						margin-right:50px;
							
						}
						input[type="text"],input[type="password"],input[type="email"]{
							border-radius:5px;
						}
						p#page_acceuil>a:hover{
							text-decoration:underline;
							
						}
						#user_exists{
							color:red;
							font-size:1.2em;
							padding-left:50px;
						}
						#enregistre{
							color:green;
							font-family:cursive;
							font-size:1.1em;
						}						
				</style>
		</head>			
		<body>
			<div id="page">
				<h1>Inscrivez-vous !!!</h1>
				<h2>L'inscription vous permettra de profiter pleinement de cet espace pour exposer vos produits</h2>
				<p id="page_acceuil"><a href="{% url "login.views.acceuil" %}">page d'acceuil</a></p>
				
				{% if error %}
					<p id="user_exists">Cet utilisateur existe deja</p>
				{% endif %}
				<form action="{% url "login.views.page_inscription" %}" method="post">
					<fieldset>
						<legend>Inscription</legend>						
							{% csrf_token %}
							{{form.as_p}}
						<input type="submit" value="s'inscrire">
					</fieldset>
				</form>				
				{% if enregistre %}<p id="enregistre">L'utilisateur a ete enregistre</p>{% endif %}
			</div>			
		</body>
</html>