<!DOCTYPE html>

<html lang="fr">
		<head>				
                <meta charset="utf-8" />
                <title>{{user.username}}</title>
				<style>
						body{
							margin:0px;
						}
							article,form{
								width:40%;
								display:inline-block;
								vertical-align:top;
								text-align:left;
							}
							article{
								border:1px solid black;
								width:40%;
								text-align:center;
							}
							section{
								text-align:center;
							}
							label{
								width:50%;
							}
							
							h3,.nom_produit{
								color:blue;
							}
							h3{
								text-align:center;
								font-size:2em;
							}
							.nom_produit{
								font-size:1em;
								}
							img{
									margin:auto;
									display:inline-block;
									width:120px;
								}
								span,#prix{
									color:green;
									text-decoration:underline;
								}
								label{
									display:block;
								}
								form{
									width:20%;
								}
					h1{
						color:#FFa234;
						text-decoration:underline;
						font-weight:bold;
						margin-bottom:50px;
							text-align:center;
					}
				</style>
		</head>	
		
		<body>
			<div id="page">			
				
				<h1 id="titre">Modifier des produits dans votre <em>MARKET</em></h1>
				<section>
					<p><a href="{% url 'login.views.page_perso'%}" id="retour">Retour a votre page perso</a></p>
					{% if produit_modifie %}
						<p>Le produit a ete modifie</p>
					{% endif %}
				<article>
					<h3>Anciennes valeurs</h3>
							<h3 class="nom_produit">{{produit.nom}}</h3>
							<img src="{{ MEDIA_URL }}{{ produit.image }}" alt="image">					
							<div>														
								<p class="description"><span class="dec" style="color:green;">Description</span><br /> {{produit.description}}</p>
								<p class="categorie"><span style="color:green;">Categorie</span> : {{produit.categorie.categorie}}</p>
								<p id="prix" style="color:red;">Prix : {{produit.prix}}gdes</p>		
							</div>
							
				</article>
				<form action="." method="post" enctype="multipart/form-data">
					<fieldset>
						<legend>Nouvelles Valeurs</legend>						
							{% csrf_token %}
							{{form.as_p}}
						<input type="submit" value="modifier">
					</fieldset>
				</form>				
				<section>
			</div>
			
		</body>
</html>