{% load static %}

<!DOCTYPE html>

<html lang="fr">
		<head>				
                <meta charset="utf-8" />
                <link rel="stylesheet" href='{% static "css/style.css" %}'>
                <title>{{user.username}}</title>
				<style>
				nav{
					margin-bottom:0px;
				}
				#gestion ul li:hover{
					background-color:red;
				}
				#gestion ul li{
					background-color:#848482;
				}
					footer{
						clear:left;
						
					}
					#page{
						margin-bottom:100px;
						height:300px;
					}
					div{
						margin-left:0px;
					}
					h2{
						font-size:2.3em;
						text-transform:uppercase;
						width:inherit;
						margin-left:10px;
						margin-top:20px;
						font-weight:bold;
						font-famiy:arial serif;
					}
					#username{
						
						font-family:arial, serif;
						font-size:1em;
						margin-left:0px;						
					}
					#username i{
						color:green;
					}
					#deconnexion{								
						font-size:0.5em;
						margin-left:50px;
					}
					aside ul{
						width:80%;								
					}
					aside li{
						display:block;
						margin-left:150px;
						margin-bottom:10px;
						width:40%;
						background-color:green;						
					}
					h1{
						margin-bottom:100px;
						padding-top:40px;
						text-align:center;
					}
	
					span#libelle{
						color:black;
						font-size:1em;
						margin-left:150px;
						margin-bottom:20px;
						display:block;
						font-weight:bold;
						text-transform:uppercase;
						text-decoration:underline;
						width:300px;
						font-family:arial, sans-serif;
						margin-top:40px;
					}
					#produits_header{
						color:white;									
						letter-spacing:1px;
						font-family:arial;
						background-color:#25383C;	
						line-height:0px;
						height:30px;		
						font-size:2em;
						text-transform:uppercase;
						border-radius:3px;
					}
					#aside li{
						bakground-color:lightblue;
					
					fieldset{
						-webkit-border-radius:10px;
					}
					#mode a:hover{
						color:red;
					}
				</style>
		</head>	
		
		<body>
			<div id="page">			
				<h1 id="username">Bienvenue <i>{{ user.username }}</i> <a href="{% url "login.views.deconnexion" %}" title="" id="deconnexion">deconnexion</a></h1>
				<nav id="navigation">
					<ul>
						<li><a href="{% url "login.views.acceuil" %}">Accueil</a></li>
						<li><a href="{% url "login.views.contacts" %}">Contacts</a></li>
					</ul>
				</nav>
				<section>
				<h1 id="produits_header">Vos derniers produits</h1>
					{% for produit in derniers_produits %}					
					<article>					
							
							<img src="{{ MEDIA_URL }}{{ produit.image }}" alt="image">
							<div>
								<h3 class="nom_produit">{{produit.nom}}</h3>						
								<p class="description"><span class="dec">Description</span><br /> {{produit.description}}</p>
								<p class="categorie"><span>Categorie</span> : {{produit.categorie.categorie}}</p>
								<p class="vendeur"><a href="mailto:{{produit.user.email}}" title="envoyer un mail">Vendeur : {{produit.user.username}}</a></p>
								<p class="prix">Prix : {{produit.prix}}</p>								
							</div> 
					</article>
					{% empty %}
					<h2>Pas de produits disponibles</h2>
					{% endfor %}	
				</section>				
				<aside id="aside">
					<span id="libelle">Gestion Produits</span>					
					<nav id="gestion">
						<ul>
							<li style="font-size:1em;border-radius:5px;"><a href="{% url "login.views.ajouter_produit" %}">Ajouter</a></li>
							<li style="font-size:1em;border-radius:5px;"><a href="{% url "login.views.rechercher_produits" %}">Rechercher</a></li>							
						</ul>
						<ul>
							<li style="font-size:1em;border-radius:5px;background-color:black;margin-top:50px;" id="mode"><a href="{% url "login.views.mode_acheteur" %}">Mode Acheteur</a></li>						
						</ul>
					</nav>
				</aside>
				
			</div>
			
		</body>
</html>