
<!DOCTYPE html>

<html lang="fr">
		<head>				
                <meta charset="utf-8" />
                <link rel="stylesheet" href="css/style.css">
                <title>Page Contact</title>
				<style>
					#page_contacts{
						width:50%;
						margin:0 auto;
						padding-left:10px;;
					}
					h1{
						text-decoration:underline;
						font-weight:bold;
						text-align:center;
						font-size:3em;
					}
					h1,h2{
						color:#254117;			
						text-decoration:underline;
					}
				</style>
		</head>	
		
		<body>
			<div id="page_contacts">
				<p><a href="{% url "login.views.acceuil" %}">Acceuil</a></p>
				<h1>Contacts</h1>
				<h2>Adresses email</h2>
				<p>
					senburbens@gmail.com / senburbens@yahoo.com / senburbens@outlook.com					
				</p>
				<h2>Adresse physique</h2>
				<p>Adresse : Fontamara 47</p>
				<h2>Telephone</h2>
				<p>Tel : (509) 38295049</p>
			</div>
		</body>
</html>