{% load static %}

<!DOCTYPE html>

<html lang="fr">
		<head>				
                <meta charset="utf-8" />
                <title>{{user.username}}</title>
				<style>		
					body{
						margin:0px;
					}
					#page{
						width:30%;
						margin:auto;
					}
					form p{
						display:inline-block;
					
					}
					fieldset{
							-moz-border-radius:5px;
						-webkit-border-radius:5px;
						-o-border-radius:5px;
					}
					label{
						color:color:#254117;
						
					}
					section{
						margin-top:50px;						
						text-align:center;
					}
					article{
						border:1px solid lightblue;
						display:inline-block;
						width:25%;
						vertical-align:top;
						margin-bottom:10px;
					}
					img{
						width:120px;
					}
					span{
						color:green;
					}
					h1{
						color:#FFa234;
						text-decoration:underline;
						font-weight:bold;
						text-align:center;
						color:#254117;
						text-decoration:underline;
						font-weight:bold;
						text-transform:uppercase;
					}
					h3{
						font-weight:bold;				
						text-align:center;
						color:red;
					}
					.prix{
						color:red;
					}
					span,h3,.prix{
						text-decoration:underline;
					}
					#erreur{
						color:red;
						font-size:2em;
						text-align:center;
						font-weight:bold;
						text-decoration:underline;
					}
					a{
						color:#000abb;
					}
					a:hover{
						color:green;
					}
					#link{
						text-align:right;
					}
					article{
						padding:2px;
					}
				</style>
		</head>	
		
		<body>
		<h1 id="titre">Rechercher des produits dans votre <em>MARKET</em></h1>
			<div id="page">						
				
					<p id="link"><a href="{% url 'login.views.page_perso'%}" id="retour">Retour a votre page perso</a></p>
				<form action="." method="post">
					<fieldset>
						<legend>Rechercher Produit</legend>						
							{% csrf_token %}
							{{form.as_p}}
						<input type="submit" value="rechercher">
					</fieldset>
				</form>		
				
			</div>
			{% if produit_supprime %}
			<p>Produit supprime</p>
			{% endif %}
			<section>
					{% if produits_trouves %}
						{% for prod in  produits%}
							<article>							
							<img src="{{ MEDIA_URL }}{{ prod.image }}" alt="image">
							<div>
								<h3 class="nom_produit">{{prod.nom}}</h3>						
								<p class="description"><span class="dec">Description</span><br /> {{prod.description}}</p>
								<p class="categorie"><span>Categorie</span> : {{prod.categorie.categorie}}</p>
								<p class="prix">Prix : {{prod.prix}}</p>
								<p><a href="{% url "login.views.modifier_produit" prod.id %}">Modifier Produit</a> / <a href="{% url "login.views.supprimer_produit" prod.id %}">Supprimer Produit</a></p>
							</div>
					</article>
						{% endfor %}					
					{% endif %}
				</section>
				{% if pas_de_produits %}
						<p id="erreur">Ce produit n'existe pas</p>
				{% endif %}
			
		</body>
</html>