
<!DOCTYPE html>

<html lang="fr">
		<head>				
                <meta charset="utf-8" />
                <title>{{user.username}}</title>
				<style>
					body{
						margin:0px;
						background-color:white;
					}
					h1,#link{
						text-align:center;
						text-transform:uppercase;
						font-weight:bold;						
					}
					#link{
						text-transform:none;					
					}
					h1{
						margin-top:40px;
						text-decoration:underline;
					}
					#link{
						margin-bottom:50px;
					}
					form{
						width:50%;
						margin:auto;
						border-radius:10px;
						padding:5px;
					}
					label{
						margin-left:200px;
						font-weight:bold;
						
					}
					input[type="text"]{
						border-radius:5px;
					}
					input[type="submit"]{
						margin-left:348px;
						background-color:#254117;
						color:white;
						height:30px;
						line-height:25px;
						width:100px;
						border-radius:5px;
					}

					input[type="submit"]:hover{
						background-color:black;
					}
					#message_erreur{
						color:red;
						font-size:2em;
						text-align:center;
						font-weight:bold;
						font-family:arial;
						margin-top:100px;
						text-decoration:underline;
					}
					section{
						
						padding-top:40px;
					}
					article{
						display:inline-block;
						width:20%;
						border:3px solid lightblue;
						vertical-align:top;
						margin-bottom:20px;
						margin-left:30px;
						padding:5px;
						text-align:center;						
					}
					img{
						width:120px;;
					}
					span{
						color:green;
						text-decoration:underline;
					}
					.prix{
						color:red;
					}
				</style>
		</head>			
		<body>
			<div id="page">						
				<h1>Choisissez une categorie pour rechercher des produits</h1>
				<p id="link"><a href="{% url 'login.views.page_perso'%}" id="retour">Votre page perso</a></p>
				<form action=" {% url "login.views.shopping" %} " method="post">					
						{% csrf_token %}
						{{ form.as_p}}
						<input type="submit" value="rechercher">
				</form>
				<section>
				{% if not produit_non_trouve %}
					{% for produit in produits %}					
							<article>									
									<img src="{{ MEDIA_URL }}{{ produit.image }}" alt="image">
									<div>
										<h3 class="nom_produit">{{produit.nom}}</h3>						
										<p class="description"><span class="dec">Description</span><br /> {{produit.description}}</p>
										<p class="categorie"><span>Categorie</span> : {{produit.categorie.categorie}}</p>
										<p class="vendeur"><a href="mailto:{{produit.user.email}}" title="envoyer un mail">Vendeur : {{produit.user.username}}</a></p>
										<p class="prix">Prix : {{produit.prix}}</p>
										<p class="voir_produit" style="text-align:right;"><a href="{% url "login.views.voir_produit" produit.id %}">Voir produit</a></p>								
									</div> 
							</article>
					{% empty %}
						<p id="message_erreur">Aucun produit n'existe dans cette categorie</p>
					{% endfor %}
				{% endif %}
				</section>
			</div>
		</body>
</html>