{% load static %}

<!DOCTYPE html>

<html lang="fr">
		<head>				
                <meta charset="utf-8" />
                <link rel="stylesheet" href='{% static "css/style.css" %}'>
                <title>{{user.username}}</title>
				<style>
				
				</style>
		</head>	
		
		<body>
			<div id="page">			
				
				<h1 id="titre">Rechercher des produits dans votre <em>MARKET</em></h1>
				<p><a href="{% url 'login.views.page_perso'%}" id="retour">Retour a votre page perso</a></p>
				<form action="." method="post">										
							{% csrf_token %}
							{{form.as_p}}
					<input type="submit" value="rechercher">
				</form>			
				<section>
				<section>
			</div>			
		</body>
</html>