
<!DOCTYPE html>

<html lang="fr">
		<head>				
                <meta charset="utf-8" />
                <link rel="stylesheet" href="css/style.css">
                <title>Page Modele</title>
				<style>
					body{
						background-color:white;
					}
					#page{
						width:50%;
						margin:auto;
						line-height:50px;
						
					}
					#page p{
						color:#254117;
						font-size:2em;
						text-align:justify;
						font-family:arial;
						font-weight:bold;
					}
					#acceuil{
						color:green;
						font-size:0.5em;
					}
				</style>
		</head>	
		
		<body>
			<div id="page">
				<p><a href="{% url "login.views.acceuil"%}" id="acceuil">page d'acceuil</a></p>
				<p>
					Nous vous remercions d'utiliser notre site. Il est important que vous sachiez et notiez que 
					nous ne sommes pas responsables des problemes pouvant survenir lors des transactions
					reelles. Ce systeme s'occupe seulement de mettre en relation les differents acteurs intervenant dans une transaction.
					En aucun cas nous ne pouvons etre tenus responsables des eventuels conflits entre acteurs du systeme.
				</p>
				
			</div>
			
		</body>
</html>