
<!DOCTYPE html>

<html lang="fr">
		<head>				
                <meta charset="utf-8" />
                <link rel="stylesheet" href="css/style.css">
                <title>Page Modele</title>
				<style>			
					#page{
						width:50%;
						margin:0 auto;						
						background-color:white;
						text-align:center;
					}
					h3{
						font-size:2em;
						text-align:center;
						text-transform:uppercase;
						color:#254117;
						text-decoration:underline;
					}
					img{
						display:block;
						margin:auto;
					}
					body{
						margin:0px;
						font-size:1.5em;
						font-family:"arial";
						
					}
					aside{
						width:10%;
					}
					aside p{
						text-align:center;
						margin-top:20px;
					}
					span{
						color:green;
						font-size:1.2em;
						text-decoration:underline;
					}
					.prix{
						color:red;
						font-size:1.2em;
						text-decoration:underline;
					}
					img{
						width:120px;
					}
					#accueil{
						text-align:center;
					}
					div p{
						text-align:justify;
					}
				</style>
		</head>	
		
		<body>
			<div id="page">
				<p id="accueil"><a href="{% url "login.views.acceuil" %}">Acceuil</a></p>
				<article>											
							<h3 class="nom_produit">{{produit.nom}}</h3>
							<img src="{{ MEDIA_URL }}{{ produit.image }}" alt="image">
							<div>						
								<p class="description"><span class="dec">Description</span><br /> {{produit.description}}</p>
								<p class="categorie"><span>Categorie</span> : {{produit.categorie.categorie}}</p>
								<p class="prix">Prix : {{produit.prix}}</p>							
							</div>
							<p class="vendeur"><a href="mailto:{{produit.user.email}}" title="envoyer un mail">Proprietaire : {{produit.user.username}}</a></p>
					</article>
			</div>
		</body>
</html>