{% load static %}		
		*{
							margin:0px;
							padding:0px;
						}
						body{
							margin-top:-9px;
							padding-top:0px;
							font-family:"times new roman", sans-serif;
							background:url("../../assets/img/logo.gif") no-repeat;	
							background-position: -50px -90px;
							height:100%;
							
						}
						#page{
							width:1000px;
							background-color:white;
							margin:auto;
							padding-top:10px;
							
						}
						
						/******************
								header
								****************************/
						header{
							margin-bottom:70px;
							height:200px;					
							background-color:lightblue;
							border-radius:5px;						
						}
						header #logo{
							width:300px;
							height:225px;
							text-indent:-9999px;
							background:url("logo.gif") no-repeat;
							position:absolute;
							left:120px;
							top:-70px;
							
						}
						label{
							color:red;
							font-family:Courier, serif;
						}
						header div {
							width:768px;
							height:256px;
							background:url("../img/banner.png") no-repeat 250px center;	
							margin:auto;							
							margin-bottom:20px;
							
							-webkit-animation: mysecond 5s infinite; /* Chrome, Safari, Opera */
							animation: mysecond 5s infinite;
						}
						/*animation*/
												/* Chrome, Safari, Opera */
						@-webkit-keyframes mysecond {
							0%   {background: url("{% static "img/banner.png" %}");}
							50%  {background: url("{% "img/laptopHP.jpg" %}");}
							100% {background: url("{% "img/images.jpg" %}");}
						}

						/* Standard syntax */
						@keyframes mysecond {
							0%   {background: url();}
							25%  {background: url("{% static "img/banner.png" %}");}
							50%  {background: url("{% "img/laptopHP.jpg" %}");}
							100% {background: url("{% "img/images.jpg" %}");}
						}
						header form{
							width:auto;
							text-align:center;
						}
						header form input[type="submit"]{
							background-color:black;
							color:red;
							text-align:justity;
						}
						header form input[type="submit"]:hover{
							background-color:red;
							color:black;
						
						}
						header input[type="text"]{
							margin-right:20px;
							
						}
						#creer_compte_link{
							margin-left:570px;						
							text-align:justify;
							padding-top:60px;
							font-size:1em;
							
						}
						
						#creer_compte_link a{
							color:white;
							-webkit-animation: link 1s infinite; /* Chrome, Safari, Opera */
							animation: link 1s infinite;
													
						}
						#creer_compte_link a:hover{
							color:red;							
						}
													/* Chrome, Safari, Opera */
						@-webkit-keyframes link {
							0%   {background: color:red;}
							100% {background: color:;}
						}

						/* Standard syntax */
						@keyframes link {
							0%   {color:red;}
							100% {color:blue;}
						}
						
						/******************
								nav
								****************************/
						nav{						
							margin-top:10px;
							border-radius:5px;
							text-align:center;			
							
						}
						#connecte{
							margin-left:0px;
						}
						nav ul li{
							
							height:30px;
							line-height:30px;							
							background-color:#008080;							
						}
						nav ul li:hover{
							background-color:black;
						}
						nav ul li:last-child{
							border-right:1px solid white;							
						}
							li a{
							color:white;
							text-decoration:none;
							font-size:2em;
							text-transform:uppercase;
							font-family:arial, serif;
							
						}
						
						nav ul li a{
							text-align:center;
						}
						section{
							width:600px;
							margin-left:40px;							
							padding-top:0px;
							padding-bottom:0px;							
						}
						

						article{
							margin:10px;
							border-bottom:2px solid silver;
							margin-bottom:30px;
							padding-bottom:20px;
							padding-top:0px;
							//background-color:rgba(0,0,0,0.05);
						}
						footer div,#termes{
							float:left;
							width:50%;
						}
					
						#termes a{
								color:red;
						}
						article:hover{
							
							box-shadow:5px 5px 5px black;
							
						}
						aside{
							width:300px;
							/*border:solid 1px silver;*/
							padding:20px;
							margin-top:10px;
							/*background-color:rgba(0,0,0,0.5);*/
							text-align:justify;
							color:white;
							-webkit-animation: myfirst 5s infinite; /* Chrome, Safari, Opera */
							animation: myfirst 5s infinite;
							
						}
						
						article img{
							margin-left:0px;
							width:120px;
							height:81px;
						}
						article div{ 
							width:400px;
							vertical-align:top;
							margin-left:30px;
							text-align:justify;
						}
						img, article div{
							display:inline-block;
						}
						section{
							padding-top:50px;
						}
						section,aside{
							float:left;
							vertical-align:top;
						}
						
						/******************
								footer
						****************************/
						footer{							
							background-color:black;
							color:white;
							padding:20px 110px;
							text-align:justify;
							overflow:hidden;						
						}
						footer #copyright{
							color:red;
							font-size:2em;
							margin-bottom:20px;
						}
						nav{
							width:900px;
							bacground-color:white;
							margin:auto;
							margin-bottom:50px;							
						}
						nav:li:first-child{
						
							padding-left:50px;
						}
						li{
							display:inline-block;
							height:50px;
							width:180px;
							text-align:center;
						}					
						br{
							clear:both;
						}
						aside img{
							margin-left:100px;
						}
						h3{
							color:blue;
							font-size:2em;
							text-decoration:underline;
							text-align:center;
						}						
						.nom_produit{
							text-transform:uppercase;
						}
						.code_produit{
							color:#ff5347;
							text-decoration:italic;
							margin-top:15px;
							text-decoration:underline;
							font-style:italic;
						}
						.description{
							margin-top:5px;
							text-align:justify;
							font-family:"times new roman", serif;
							font-size:1.2em;
							padding:10px 20px 10px 0px;								
						}
						.dec{
							text-decoration:underline;
						}
						span{
							color:green;
						}
						.vendeur{
							text-align:right;
						}
						.categorie{
							
						}
						.vendeur a{
							margin-top:5px;
							color:green;
							font-style:italic;
							text-align:right;
						}
						.vendeur a:hover{
							text-decoration:underline;
							color:black;
						}
						h2{
							width:100%;
							margin:auto;
						    text-decoration:underline;
							color:red;
							font-size:1em;							
						}
						.prix{
							color:red;
							font-size:2em;
						}
						.prix:after{
							content:" gdes";
						}
						footer div{
							margin-top:10px;
						}
						footer h4{
							color:red;
							font-size:1em;
							text-decoration:underline;
							margin-bottom:20px;
						}
						#derniers_produits_h1{
							
							border:1px solid blue;							
							text-align:center;
							width:50%;							
							margin-top:50px;
							margin-left:50px;
							color:blue;
							font-size:2em;
							text-transform:uppercase;
							color:white;
							background-color:#25383C;
						}